body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: #4c4c4c;
    color: #fcfcfc;
}

.h1-tag {
    font-size: 50px;
    text-decoration: underline;
}

.h2-title {
    font-size: 30px;
}

.contents {
    letter-spacing: 1px;
}

#special-content {
    font-style: italic;
    color: salmon;
}

.links {
    color: #56eef4;
    text-decoration: none;
}




